nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgrey;
  margin: 0 auto
}

h2 {
  align-self: auto;
}

.btn {
  align-self: auto;
}

.shop {
  background-color: antiquewhite;
  height: 50px;
  width: 100px;
  border-radius: 10%;
}

.now {
  display: flex;
  justify-content: center;
  align-items: center;
}