@use "../../utilities/mixins" as *;
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgrey;
    margin: 0 auto;
}
ul{
    list-style: none;
}
h2{
    align-self: auto;
}
.btn{
    align-self: auto;
}