@use "../../utilities/mixins" as *;
.shop{
    background-color: antiquewhite;
    height: 50px;
    width: 100px;
    border-radius: 10%;     
    

}
.now{
    display: flex;
    justify-content: center;
    align-items: center;
}